{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "singleQuote": true,
  "singleAttributePerLine": true,
  "semi": true,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "printWidth": 90,
  "bracketSpacing": true,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 2
}
